@use "../../assets/partials/variables" as *;
@use "../../assets/partials/mixins" as *;

.home{
    @include flex-column;
    align-items: center;
    justify-content: space-between;
    height: 100vh;
    background-repeat: no-repeat;
}