@use "../../assets/partials/variables" as *;
@use "../../assets/partials/mixins" as *;

.main{
    margin: 2rem;
    @include flex-column;
    align-items: center;
    background-color: rgba($color: #451804, $alpha: 0.7);
    padding: 1rem;

    &__header{
        @include divider;
    }

    &__date{
        margin-top: 1rem;
    }
}