@use './assets/partials/mixins' as *;
@use './assets/partials/variables' as *;

html{
    box-sizing: border-box;
    color: #fda600;
}

*, *:before, *:after{
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: inherit;
    margin: 0px;
}
.home{
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}